@model SanalDenemem.MvcWebUI.Controllers.HomeController.IndexViewModel
@{
    ViewBag.Title = "ExamsShowResult";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<script src="~/Scripts/jquery-3.5.0.js"></script>
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/edutemplate/images/exam.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Sınavlar</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-course">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Sınav Sonuç Listesi</h2>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.SelectedExamTypeId, (SelectList)ViewBag.ExamTypesData, "Sınav Tipi Seçiniz...", new { @class = "dropdown form-control" })
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.SelectedExamId, (SelectList)ViewBag.ExamsData, "Sınav Seçiniz...", new { @class = "dropdown form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" style="width: 100%;" class="btn btn-success">Listele</button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div><b>Selected ExamType : </b>@Model.SelectedExamTypeId</div>
                <div><b>Selected Exam : </b>@Model.SelectedExamId</div>
            </div>
        </div>
    </div>
</div>

<script>
    //Sınav Tipi değiştiğinde çalışır.
    $("#SelectedExamTypeId").change(function () {
        var ddlExamType = $(this);
        var examTypeId = ddlExamType.val();
        if (examTypeId != "") {
            $.ajax({
                method: "GET",
                url: '@Url.Action("GetExamsByExamType", "Home")' + '/' + examTypeId,
                beforeSend: function () {
                    $("#SelectedExamId option").not(":first").remove();
                }
            }).done(function (result) {
                for (var i = 0; i < result.length; i++) {
                    var exam = result[i];
                    $("#SelectedExamId").append(createOption(exam.Id, exam.Title));
                }
            });
        } else {
            $("#SelectedExamId option").not(":first").remove();
        }
    });

    //DDL için option oluşturur.
    function createOption(code, text) {
        return "<option value=" + code + ">" + text + "</option>"
    }
</script>