@model List<SanalDenemem.MvcWebUI.Entity.ExamType>
@{
    ViewBag.Title = "Denemeler";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/edutemplate/images/exam.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Denemeler</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<style>
    .btn-dark-moon {
        background: #141E30; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        border: 3px solid #eee;
    }

    .btn-light-moon {
        background: #FFEFBA; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #000;
        border: 3px solid #eee;
    }

    .btn-funky-moon {
        background: #A770EF; /* fallback for old browsers */
        background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        border: 3px solid #eee;
    }

    .btn-rounded {
        border-radius: 35px;
    }

    .btn-fab {
        height: 50px;
        width: 53px;
        border-radius: 50%;
    }
</style>
<div id="fh5co-course">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">

                <h2> Denemeler</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(../Content/edutemplate/images/project-1.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">@item.ExamTypeName</a></h3>
                            <p>@item.Desc</p>
                            <span><a href="@Url.Action("Exams", "Home", new { id=item.Id})" class="btn btn-primary btn-sm btn-course">Sınava Katıl</a></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*<div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <a href="@Url.Action("ExamsShowResult","Home")"><h2>Deneme Sonuçları Sıralaması</h2></a>
                <div class="row mt-3">

                    @*<div class="col">
                        <button class="col btn btn-dark-moon btn-rounded">Dark Moon</button>
                    </div>
                    <div class="col">
                        <button class="col btn btn-light-moon btn-rounded">Light Moon</button>
                    </div>*@
                    <div class="col">
                        <a href="@Url.Action("ExamsShowResult","Home")"> <button class="col btn btn-funky-moon btn-rounded"> Genel Sıralamanı Gör</button></a>

                    </div>
                </div>

            </div>
        </div>*@
    </div>
</div>