@model List<SanalDenemem.MvcWebUI.Controllers.MembersController.SubMemberExamDetail>
@{
    ViewBag.Title = Model[0].Question.Exam.Title;
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
    int emptyCount = 0;
    foreach (var item in Model)
    {
        foreach (var opt in item.Question.Options)
        {
            if (item.CorrectOption.Id == opt.Id)
            {
                if (item.SelectedOption.OptionText == "Empty")
                {
                    emptyCount++;
                }
            }
        }
    }
    List<SanalDenemem.MvcWebUI.Controllers.MembersController.LessonExamDetail> lessonExamResultList = new List<SanalDenemem.MvcWebUI.Controllers.MembersController.LessonExamDetail>();
    foreach (var item in Model.GroupBy(x=>x.LessonResult.Lesson))
    {
        SanalDenemem.MvcWebUI.Controllers.MembersController.LessonExamDetail lessonExamDetail = new SanalDenemem.MvcWebUI.Controllers.MembersController.LessonExamDetail();
        lessonExamDetail.Lesson = item.Key;
        lessonExamDetail.CorrectCount = 0;
        lessonExamDetail.FailCount = 0;
        lessonExamResultList.Add(lessonExamDetail);
    }
    foreach (var item in Model)
    {
        foreach (var item2 in lessonExamResultList)
        {
            if (item.LessonResult.Lesson == item2.Lesson)
            {
                if (item.LessonResult.IsCorrect == true)
                {
                    item2.CorrectCount++;
                }
                else
                {
                    item2.FailCount++;
                }
            }
        }
    }
}
<style>
    .group-question {
        padding: 2%;
        margin: 2%;
        border: 5px solid #bdc3c7;
        background-color: #bdc3c7;
    }

    .exam-title {
        width: 100%;
        color: #34495e;
        text-align: center;
    }

    .group-option {
        color: #ecf0f1;
        font-size: 2rem;
        margin: 1%;
        border: 2px solid #2980b9;
        background-color: #3498db;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container" style="margin-top: 3%;">
    <div class="row">
        <div class="exam-title">
            <h1>Sınav ismi: @Model[0].Question.Exam.Title</h1>
        </div>
        @*<div class="exam-title">
                <h1>yanlış sayısı :@Model[0].MemberExam.FailCount</h1>
                <h1>dıgru sayısı:@Model[0].MemberExam.CorrectCount</h1>
                <h1>net:@Model[0].MemberExam.Score</h1>
                <h1>boş sayısı:@emptyCount</h1>
            </div>*@
    </div>

    <div class="row" style="margin-top:2%">
        <div class="container" style="text-align: -webkit-right;">
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="        max-width: 20rem;">
                    <div class="card-header">Dogru Sayısı</div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">@Model[0].MemberExam.CorrectCount</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="        max-width: 20rem;">
                    <div class="card-header">Yanlış Sayısı</div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">:@Model[0].MemberExam.FailCount</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="        max-width: 20rem;">
                    <div class="card-header">Boş Sayısı</div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">@emptyCount</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="        max-width: 20rem;">
                    <div class="card-header">Net</div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">@Model[0].MemberExam.Score</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top:2%">
        <div class="container" style="text-align: -webkit-right;">
            @foreach (var item in lessonExamResultList)
            {
                <div class="col-md-3">
                    <div class="card text-white bg-success" style="max-width: 20rem;">
                        <div class="card-header">@item.Lesson.LessonName</div>
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Doğru Sayısı: @item.CorrectCount</h5>
                            <h5 class="card-title" style="text-align: center;">Yanlış Sayısı: @item.FailCount</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="margin: 2%;">
            @foreach (var item in Model)
            {
                <div class="card test-panel" style="margin-top: 2%;">

                    <div class="card-header">
                        <h2>Soru: @item.Question.RowNo</h2>
                    </div>
                    <div class="card-body">
                        @if (item.Question.Image != null)
                        {
                            <div style="text-align: center;">
                                <img style="max-height: 400px; max-width: 100%; object-fit: cover;" src="~/Content/Uploads/Questions/@item.Question.Image" />
                            </div>
                        }
                        <p style="font-size: 1.5rem; font-weight: 400; margin-top: 1%;">@item.Question.Desc</p>
                        <p style="font-size: 2rem; font-weight: bold;">@item.Question.Text</p>

                        <div class="col-md-12" style="padding: 0;">
                            <br>
                            @foreach (var opt in item.Question.Options)
                            {
                                if (item.CorrectOption.Id == opt.Id)
                                {
                                    if (item.SelectedOption.OptionText == "Empty")
                                    {
                                        <div class="input-group">
                                            <label for="@opt.QuestionId-ques" class="form-control test-option" style="background-color: lightyellow; font-size: 1.8rem !important; height: fit-content;">@opt.OptionText</label><br>
                                        </div>
                                        <br>
                                    }
                                    else
                                    {
                                        <div class="input-group">
                                            <label for="@opt.QuestionId-ques" class="form-control test-option" style="background-color: lightgreen; font-size: 1.8rem !important; height: fit-content;">@opt.OptionText</label><br>
                                        </div>
                                        <br>
                                    }
                                }
                                else if (item.CorrectOption.Id != opt.Id && opt.Id == item.SelectedOption.Id)
                                {
                                    <div class="input-group">
                                        <label for="@opt.QuestionId-ques" class="form-control test-option" style="background-color: indianred; font-size: 1.8rem !important; height: fit-content;">@opt.OptionText</label><br>
                                    </div>
                                    <br>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <label for="@opt.QuestionId-ques" class="form-control test-option" style="font-size: 1.8rem !important; height: fit-content;">@opt.OptionText</label><br>
                                    </div>
                                    <br>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>