@model SanalDenemem.MvcWebUI.Areas.Admin.Views.Exams.ExamViewModel

@{
    ViewBag.Title = "Admin | Sınavlar | Sorular";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseNewQuestion" aria-expanded="false" aria-controls="collapseNewQuestion">
    Yeni Soru Ekle
</button>

<div style="margin-top: 1%;" class="collapse" id="collapseNewQuestion">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="RowNumber">Sıra No</label>
                    </div>
                    <input type="number" class="form-control" id="RowNumber" placeholder="Giriniz...">
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="DDLLessons">Ders</label>
                    </div>
                    @Html.DropDownList("LessonId", null, htmlAttributes: new { @class = "custom-select", @id = "DDLLessons" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="DDLTopics">Konu</label>
                    </div>
                    <select class="custom-select" id="DDLTopics">
                        <option selected="">Seçiniz...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Description">Açıklama</label>
                    </div>
                    <textarea type="text" class="form-control" id="Description" placeholder="Giriniz..."></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Text">Yazı</label>
                    </div>
                    <textarea type="text" class="form-control" id="Text" placeholder="Giriniz..."></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Image">Resim</label>
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="Image">Seçiniz...</label>
                        <input type="file" class="custom-file-input" accept=".jpg,.png" id="Image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Option1">1. Seçenek</label>
                    </div>
                    <input style="width: 70%;" type="text" class="form-control" id="Option1" placeholder="Giriniz...">
                    <input style="height: 20px; align-self: center;" type="radio" class="form-control" id="Option1State" name="trueOption">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Option2">2. Seçenek</label>
                    </div>
                    <input style="width: 70%;" type="text" class="form-control" id="Option2" placeholder="Giriniz...">
                    <input style="height: 20px; align-self: center;" type="radio" class="form-control" id="Option2State" name="trueOption">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Option3">3. Seçenek</label>
                    </div>
                    <input style="width: 70%;" type="text" class="form-control" id="Option3" placeholder="Giriniz...">
                    <input style="height: 20px; align-self: center;" type="radio" class="form-control" id="Option3State" name="trueOption">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Option4">4. Seçenek</label>
                    </div>
                    <input style="width: 70%;" type="text" class="form-control" id="Option4" placeholder="Giriniz...">
                    <input style="height: 20px; align-self: center;" type="radio" class="form-control" id="Option4State" name="trueOption">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="Option5">5. Seçenek</label>
                    </div>
                    <input style="width: 70%;" type="text" class="form-control" id="Option5" placeholder="Giriniz...">
                    <input style="height: 20px; align-self: center;" type="radio" class="form-control" id="Option5State" name="trueOption">
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-outline-success" type="button" onclick="SaveQuestion()">
                    Kaydet
                </button>
                <button class="btn btn-outline-warning" type="button">
                    Temizle
                </button>
            </div>
        </div>
    </div>
</div>


<h2 style="margin-top: 1%;">@Model.Exam.Title Sınavı Soruları</h2>
<table class="table">
    <tr>
        <th>Sıra No</th>
        <th>Ders</th>
        <th>Konu</th>
        <th>Açıklama</th>
        <th>Yazı</th>
        <th>İşlemler</th>
    </tr>
    @if (Model.QuestionList.Count > 0)
    {
        foreach (var item in Model.QuestionList)
        {
            <tr>
                <td>
                    @item.RowNo
                </td>
                <td>
                    @item.Topic.Lesson.LessonName
                </td>
                <td>
                    @item.Topic.TopicName
                </td>
                <td>
                    @item.Desc
                </td>
                <td>
                    @item.Text
                </td>
                <td>
                    <input type="hidden" id="quesId" name="quesId" value="@item.Id">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editQuestionModal">Düzenle</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteQuestionModal" onclick="DeleteQuestion(@item.Id)">Sil</button>
                </td>
            </tr>
        }
    }
</table>

<!-- Modal -->
<div class="modal fade" id="editQuestionModal" tabindex="-1" aria-labelledby="editQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editQuestionModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#DDLTopics').attr('disabled', true);
        $('#DDLLessons').prepend(createOption("Seçiniz...", "Seçiniz..."));
        $('#DDLLessons').val("Seçiniz...");
    });

    $('#DDLLessons').change(function () {
        if ($('#DDLLessons').val() != 'Seçiniz...') {
            $('#DDLTopics').attr('disabled', false);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTopicsByLesson", "Exams")',
                data: { 'lessonId': $(this).val()},
                success: function (response) {
                    $('#DDLTopics option').remove();
                    $('#DDLTopics').append(createOption("Seçiniz...", "Seçiniz..."));
                    for (var i = 0; i < response.length; i++) {
                        var option = createOption(response[i].Id, response[i].TopicName);
                        $('#DDLTopics').append($(option));
                    }
                },
                failure: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
        else {
            $('#DDLTopics option').remove();
            $('#DDLTopics').append(createOption("Seçiniz...", "Seçiniz..."));
            $('#DDLTopics').attr('disabled', true);
        }
    });

    $('input[type=file]').change(function () {
        if ($(this).val().split('.')[1] == 'png' || $(this).val().split('.')[1] == 'jpg') {
            var t = $(this).val();
            var labelText = 'Dosya: ' + t.substr(12, t.length);
            $(this).prev('label').text(labelText);
        }
        else {
            alert('Sadece png veya jpg uzantılı dosyalar seçebilirsiniz.');
        }
    });

    function GetRNSearchClearInput() {
        $("#FormedDirectorateDDL").val("").trigger('change');
        $('#RNSearchEndDate').val("");
    }

    function GetUserSearchClearInput() {
        $('input#txtSearchUserName').val('').trigger('change');
        $('input#txtSearchFirstName').val('').trigger('change');
        $('input#txtSearchLastName').val('').trigger('change');
    }
    //Inputları temizler.
    function clearInputs() {
        $("#shiftddl").val("").trigger('change');
        $("#riskdate").val("");
        $('#riskclosecheck').prop("checked", false);
        $("input[name='causeradio']").prop("checked", false);
    }

    //DDL texte göre değiştirir.
    function changeDDL(ddlId, ddlText) {
        $('#' + ddlId + ' option').each(function () {
            if ($(this).text() == ddlText) {
                $(this).prop('selected', true).trigger('change');
            }
        });
    }

    function inputValidation() {

    }

</script>
<script>
    //COMMON
    //DDL doldurur.
    function AjaxCallDDL(_type, _url, _ddlid, _value, _text) {
        $.ajax({
            type: _type,
            url: _url,
            success: function (response) {
                console.log(response);
                for (var i = 0; i < response.length; i++) {
                    var option = createOption(response[i][_value], response[i][_text]);
                    $("#" + _ddlid).append($(option));
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    }

    //DDL için option oluşturur.
    function createOption(code, text) {
        return "<option value=" + code + ">" + text + "</option>"
    }
</script>
<script>
    function SaveQuestion() {
        var arr = window.location.href.split('/');
        var fileData = new FormData();
        fileData.append('RowNo', $('#RowNumber').val());
        fileData.append('Desc', $('#Description').val());
        fileData.append('Text', $('#Text').val());
        var files = document.getElementById("Image").files;
        if (files.length != 0) { fileData.append(files[0].name, files[0]); }
        fileData.append('ExamId', arr[arr.length - 1]);
        fileData.append('LessonId', $('#DDLLessons').val());
        fileData.append('TopicId', $('#DDLTopics').val());
        fileData.append('Option1', $('#Option1').val());
        fileData.append('Option2', $('#Option2').val());
        fileData.append('Option3', $('#Option3').val());
        fileData.append('Option4', $('#Option4').val());
        fileData.append('Option5', $('#Option5').val());
        fileData.append('Option1State', $('#Option1State').prop('checked') ? true : false);
        fileData.append('Option2State', $('#Option2State').prop('checked') ? true : false);
        fileData.append('Option3State', $('#Option3State').prop('checked') ? true : false);
        fileData.append('Option4State', $('#Option4State').prop('checked') ? true : false);
        fileData.append('Option5State', $('#Option5State').prop('checked') ? true : false);

        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertQuestion", "Exams")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (response) {
                if (response.IsSuccess) {
                    location.reload();
                }
                else {
                    console.log(response);
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    }
</script>
<script>
    function DeleteQuestion(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteQuestion", "Exams")',
            data: { 'questionId': id},
            success: function (response) {
                if (response.IsSuccess) {
                    location.reload();
                }
                else {
                    console.log(response);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>