@using SanalDenemem.MvcWebUI.Identity
@model IEnumerable<ApplicationRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-database.js"></script>
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyDlkWn-6-CG4Vrcba48qC-d4c7GEsi0Vr4",
        authDomain: "database-ec572.firebaseapp.com",
        databaseURL: "https://database-ec572.firebaseio.com",
        projectId: "database-ec572",
        storageBucket: "database-ec572.appspot.com",
        messagingSenderId: "65575832017",
        appId: "1:65575832017:web:93db321abe0b6ed5c0f8f0",
        measurementId: "G-47RG171PTF"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var ref = firebase.database().ref('parameters');

    ref.on("value", function (snapshot) {
        $('#param').text(snapshot.val().state == true ? 'Açık' : 'Kapalı');
        if (snapshot.val().state == true) { $('#paramButton').text('Kapat'); }
        else { $('#paramButton').text('Aç'); }
    }, function (error) {
        console.log("Error: " + error.code);
    });

    function buttonClick() {
        if ($('#paramButton').text() == 'Aç') { ref.set({ 'state': true }); }
        else { ref.set({ 'state': false }); }
    }

</script>


<div class="container p-5">
    <h2>Parameter</h2>
    <h4 id="param"></h4>
    <button id="paramButton" onclick="buttonClick()" class="btn btn-primary"></button>
</div>



<div class="container p-5">
    <h2>Kategoriler</h2>
    <hr />
    @*<p>
            @Html.ActionLink("Yeni Kategori Oluştur", "Create", null, new { @class = "btn btn-primary btn-default " })
        </p>*@
    <hr />
    <table class="table table-hover table-bordered ">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="width: 140px;"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>



