


@model SanalDenemem.MvcWebUI.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}




<link rel="apple-touch-icon" href="~/Content/edutemplate/images/ikon.ico" />
<link rel="icon" type="image/ico" href="~/Content/edutemplate/images/ikon.ico" />
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<!-- //Meta tag Keywords -->
<!--/Style-CSS -->
<link rel="stylesheet" href="~/Content/edutemplate/css/stylegiris.css" type="text/css" media="all" />
<!--//Style-CSS -->



<section class="w3l-forms-23">
    <div class="forms23-block-hny">
        <div class="wrapper">

            <a class="logo" href="@Url.Action("Index","Home")"></a>

            <div class="d-grid forms23-grids" >
                <div class="form23">
                    <div class="main-bg">
                        <h6 class="sec-one"></h6>
                        <div class="speci-login first-look">
                            <img src="~/Content/edutemplate/images/user.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="bottom-content">


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()



                            @Html.ValidationSummary()

                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input-form", @placeholder = "Kullanıcı Adı" } })

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-form", placeholder = "Şifre" ,Type="password"} })


                            <button type="submit" class="loginhny-btn btn">Giriş Yapın</button>

                        }

                        <p>Hesabınız yok ise hemen bize katılın ! 		 <a href="@Url.Action("Register","Account")">Kayıt Ol!</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>








<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
