@model SanalDenemem.MvcWebUI.Models.Register

@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2>Giriş</h2>
                </div>
                @Html.ValidationSummary()
                <div class="panel-body">

                    <div class="form-group">
                        <center>
                            <img src="http://placehold.it/125x125" class="img-circle img-responsive" />
                        </center>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "İsim", type = "text" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = "Soyisim", type = "text" })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı adı", type = "text" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "E-mail", type = "text" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Paralo", type = "password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.RePassword, new { @class = "form-control", placeholder = "Paralo Tekrar", type = "password" })
                        @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="panel-footer text-right">
                    <a href="@Url.Action("Login","Account")" class="btn btn-info">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </a>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Register
                    </button>

                </div>
            </div>
        }
    </div>
        </div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
