@model List<SanalDenemem.MvcWebUI.Models.ExamResultDetails>

<link href="~/Content/Plugins/dataTableJquery/jquery.dataTables.min.css" rel="stylesheet" />
<table id="myTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Derece</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Kullanıcı Adı</th>
            <th>Skor</th>
        </tr>
    </thead>
    @{ 

        int sira = 1;
    }
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@sira</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Score</td>
            @{
                sira = sira + 1;
            }
            
        </tr>
                }
    </tbody>
</table>

<script src="~/Content/Plugins/dataTableJquery/jquery.dataTables.min.js"></script>