@{
    var logInUser = (SanalDenemem.MvcWebUI.Identity.ApplicationUser)Session["LogonUser"];
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=0.1">
    <meta name="description" content="Online exam, çevrimiçi sınav , online sınav, sınavlar, online kurs" />
    <meta name="keywords" content="Online exam, çevrimiçi sınav , online sınav, sınavlar, online kurs" />
    <link rel="apple-touch-icon" href="~/Content/edutemplate/images/ikon.ico" />
    <link rel="icon" type="image/ico" href="~/Content/edutemplate/images/ikon.ico" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/edutemplate/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/edutemplate/css/owl.theme.default.min.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/flexslider.css">

    <!-- Pricing -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/pricing.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/edutemplate/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Content/edutemplate/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <script type="text/javascript">(function () {
        var options = {
            whatsapp: "+905385088290", // WhatsApp numaranızı buraya girin
            call_to_action: "Merhaba, bize ulaşmak için tıklayın ?", // Görünecek metin
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();</script>


</head>
<body >

    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="top" style="background-color:lightblue">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <ul class="site">
                                <li><a href="https://www.facebook.com/sanaldenemem/"><i class="icon-facebook2"></i></a></li>
                                <li><a href="https://twitter.com/sanaldenemem"><i class="icon-twitter2"></i></a></li>
                                <li><a href="https://www.instagram.com/sanaldenemem/"><i class="icon-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC7cg94tTqM5S3W6kIt3wr7Q"><i class="icon-youtube"></i></a></li>

                            </ul>

                            <ul class="fh5co-social">

                                @if (Request.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    
                                    <li class="btn-cta"><a style="color:whitesmoke" href="@Url.Action("Index", "AdminManager", new { area = "" })"><span>Admin Paneli</span></a></li>
                                }
                                @if (Request.IsAuthenticated)
                                {
                                    var logId = User.Identity.Name;
                                    if (logInUser != null)
                                    {
                                        logId = logInUser.Id;
                                    }
                                    if (!(User.IsInRole("admin")))
                                    {
                                        <li class="btn-cta">
                                            <a style="color:whitesmoke" href="@Url.Action("Profile","Members",new { id =logId })"><span>Profil</span></a>
                                        </li>
                                    }
                                    <li class="btn-cta">
                                        <a style="color:whitesmoke" href="@Url.Action("Logout","Account")"><span>Çıkış</span></a>
                                    </li>
                                }
                                else
                                {
                                    <li class="btn-cta"><a href="@Url.Action("Login","Account")"><span>Giris Yap</span></a></li>
                                    <li class="btn-cta"><a href="@Url.Action("Register","Account")"><span>Kayit ol</span></a></li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu" style="background-color:white">
                <div class="container" >
                    <img  align="left"src="~/Content/Images/banner.png"style="background-color:white;"width="518" height="90" />

                </div>
            </div>
            <div class="top-menu" style="background-color:#202c45">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-push-12 text-sm-center menu-1 ">
                            <ul>
                                <li class="active"><a style="color:whitesmoke ; font-size:20px" href="@Url.Action("Index","Home")">Anasayfa</a></li>
                                <li><a style="color:whitesmoke; font-size:20px" href="@Url.Action("ExamTypes","Home")">Denemeler</a></li>
                                <li><a style="color:whitesmoke; font-size:20px" href="@Url.Action("Pricing","Home")">Üyelik Paketleri</a></li>
                                <li><a style="color:whitesmoke; font-size:20px" href="@Url.Action("Blog","Home")">Blog</a></li>
                                <li><a style="color:whitesmoke; font-size:20px" href="@Url.Action("About","Home")">Hakkımızda</a></li>
                                <li><a style="color:whitesmoke; font-size:20px" href="@Url.Action("Create","Contact")">İletişim</a></li>

                               

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        <div id="mainsection">

            @RenderBody()

        </div>

        <footer id="fh5co-footer" role="contentinfo" style="background-image: url(~/Content/edutemplate/images/img_bg_4.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 fh5co-widget">
                        <h3>Sanaldenemem.com</h3>
                        <p>Tüm öğrencilerin aynı anda eşit şekilde ölçülebilmesini sağlayan kağıt , zaman ve para tasarrufu sağlayan girişimdir.</p>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3> Menü</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                            <li><a href="@Url.Action("Exams","Home")">Sınavlar</a></li>
                            <li><a href="@Url.Action("Pricing","Home")">Üyelik Paketleri</a></li>
                            <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                            <li><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                        </ul>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3>ÜYELİK İŞLEMLERİ</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="@Url.Action("Register","Account")">Kayıt Ol</a></li>
                            <li><a href="@Url.Action("Login","Account")">Giriş Yap</a></li>

                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3>İLETİŞİM BİLGİLERİ</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="mailto:info@sanaldenemem.com">info@sanaldenemem.com</a></li>
                            <li><a href="https://sanaldenemem.com/">www.sanaldenemem.com</a></li>

                        </ul>
                    </div>
                </div>

                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2020 Tüm hakları saklıdır.</small>

                        </p>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Content/edutemplate/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/edutemplate/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/edutemplate/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/edutemplate/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Content/edutemplate/js/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="~/Content/edutemplate/js/owl.carousel.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Content/edutemplate/js/jquery.flexslider-min.js"></script>
    <!-- countTo -->
    <script src="~/Content/edutemplate/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/edutemplate/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/edutemplate/js/magnific-popup-options.js"></script>
    <!-- Count Down -->
    <script src="~/Content/edutemplate/js/simplyCountdown.js"></script>
    <!-- Main -->
    <script src="~/Content/edutemplate/js/main.js"></script>
    <script>
        var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
    </script>
</body>
</html>
